* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
body{
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: rgb(251, 246, 243);
}