

@media screen and (min-width:602px) {
    .card{
        width: 20vw;
        display: grid;
        grid-template-columns: 1fr;
        row-gap:3.21vw ;
    }
    .card img{
        width: 100%;
        object-fit: cover;
        padding: 0;
        border-radius: 1.5vw;
        
    }
    .text{
        display: grid;
        grid-template-columns: 1fr;
        row-gap:0.5vw ;
    }
    .text h5{
        color: rgb(53,42,38);

    }
    .category{
        color: rgb(179,168,166);
    }
    .name{
        color: rgb(183,83,83);
    }
}