
.productBg{
    width: 100%;
    /* padding-top: 2vw; */
    position: relative;
}
@media screen and (min-width:602px) {
    .products{
        width: 90%;
        margin: auto;
        display: grid;
        align-items: start;
        justify-items: center;
        grid-gap:1.5vw ;
        grid-template-columns: auto 1fr;
    }
}